<header class="site-header">
  <div class="site-header-item">
    <a class="site-header-logo" href="/">
      <img src="/static/logo.png">
      <span>FewFriends</span>
    </a>
  </div>
  <div class="site-header-item">
    <a class="button is-outlined" href="/p/new">สร้างโพสใหม่</a>
  </div>
</header>
