<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FewFriends</title>
</head>
<body>
  <h2>สวัสดีหน้าแรก 555</h2>
  <p>ค้นหาคำว่า {{ q }}, เรียงลำดับจาก {{ sortBy }}</p>
</body>
</html>
