<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพสต์สำเร็จ | ' }}
<body>
  {{> siteHeader }}
  <div>
    <h2>สร้างโพสต์สำเร็จ</h2>
    <p>โพสต์จะปรากฏที่หน้าแรก คุณสามารถกลับไปเปิดดู และคอมเม้นท์พูดคุยกับเพือนๆได้</p>
    <p>
      <a href="/">กลับหน้าแรก</a>
    </p>
  </div>
  {{> siteFooter }}
</body>
</html>
