<!DOCTYPE html>
<html lang="en">
{{> baseHead custom_title='สร้างโพสต์ใหม่ | ' }}
<body>
  {{> siteHeader }}
  <div>
    <h2>สร้างโพสต์ใหม่</h2>
    <p>มีฟอร์มเว้ยเฮ้ย</p>
  </div>
  {{> siteFooter }}
</body>
</html>
