<!DOCTYPE html>
<html lang="en">
{{> baseHead custom_title="โพสต์เดียว ID = {{postId}} | " }}
<body>
  {{> siteHeader }}
  <div>
    <h2>สวัสดีหน้าโพสต์เดียว ID = {{ postId }}</h2>
    <p>เนื้อหาข้างล่าง</p>
  </div>
  {{> siteFooter }}
</body>
</html>
