<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพสต์สำเร็จ | ' }}
<body>
  {{> siteHeader }}
  <section class="section">
    <div class="container">
      <h3>สร้างโพสต์สำเร็จ</h3>
      <p>โพสต์จะปรากฏที่หน้าแรก คุณสามารถกลับไปเปิดดู และคอมเม้นท์พูดคุยกับเพือนๆได้</p>
      <p>
        <a class="button" href="/">กลับหน้าแรก</a>
      </p>
    </div>
  </section>
  {{> siteFooter }}
</body>
</html>
